<main>
	<div style="margin-left: 2rem;">
		<h1>ASP.NET Core API Dashboard</h1>
		<ul *ngFor="let endpoint of endpoints">
			<li>{{endpoint.httpMethod}}: {{endpoint.relativePath}}</li>
		</ul>
	</div>
	<table class="table">
		<thead>
		<tr>
			<th>Method</th>
			<th>Path</th>
			<th>Return</th>
		</tr>
		</thead>
		<tbody>
		<tr *ngFor="let endpoint of endpoints">
			<td [ngSwitch]="endpoint.httpMethod">
				<span *ngSwitchCase="'GET'" class="method-badge get"></span>
				<span *ngSwitchCase="'POST'" class="method-badge post"></span>
				<span *ngSwitchCase="'PUT'" class="method-badge put"></span>
				<span *ngSwitchCase="'PATCH'" class="method-badge patch"></span>
				<span *ngSwitchCase="'DELETE'" class="method-badge delete"></span>
				<span *ngSwitchCase="'HEAD'" class="method-badge head"></span>
				<span *ngSwitchCase="'OPTIONS'" class="method-badge options"></span>
				<span *ngSwitchDefault class="method-badge unknown"></span>
				<b>{{endpoint.httpMethod}}</b>
			</td>
			<td>{{endpoint.relativePath}}</td>
			<td>{{endpoint.returnsDefinition.typeDefinition | typeCodeName}}</td>
		</tr>
		</tbody>
	</table>
</main>
