primary = rgb(19, 18, 18);
lightest = rgb(231, 237, 241);
light = rgb(187, 197, 204);
muted = rgb(83, 86, 87);
dim = rgb(42, 44, 44);
secondary = rgb(13, 16, 19);
secondary-light = lighten(secondary, 3%);
