@use "sass:color";

// Colors
$white: rgb(255 255 255);
$black: rgb(6 6 6);
$primary: rgb(19 18 18);
$light: rgb(187 197 204);
$muted: rgb(83 86 87);
$dim: rgb(42 44 44);
$secondary: rgb(13 16 19);
$secondary-light: color.adjust($secondary, $lightness: 3%);

$accents: (
	"green": rgb(56, 206, 96),
	"pink": rgb(183, 41, 199)
);

// Sizes
$sizes: 0.5rem, 1rem, 1.5rem, 2rem, 2.5rem, 3rem;
$percentages: (
	"sm": 0.3,
	"md": 0.6,
	"lg": 1
);
