// Global styles

@use "src/style/var";

@import "src/style/btn";
@import "src/style/utility";
@import "src/style/text";
@import "src/style/layout";
@import "src/style/color";

body {
	background-color: var.$black;
	color: var.$white;
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
	margin: 0;
}

pre {
	font-family: "JetBrains Mono", Consolas, monospace;
}
